{% extends 'base.html' %}

{% block title %} Home {% endblock title %}    


{% block body %} 

<div class="container mt-4 text-center">    
    
    <form class="form-signin" method="POST">

        {% csrf_token %}     
         
        <h1 class="text-center">What chat room would you like to enter?</h1>
        <input id="room-name-input" name="room-name-input" type="text" size="100" placeholder="Room name">
        <br>
        <button class="btn btn-md btn-primary mt-1" type="submit">Enter</button>

    </form>

</div>

{% endblock body %}