{% extends 'base.html' %}

{% block title %} Home {% endblock title %}    


{% block body %} 

<div class="container mt-5"> 
    <div id="message" class="alert alert-warning alert-dismissible fade show text-center d-none" role="alert">
    </div>
    
    <h1 class="text-center">Welcome {{request.user}}.!</h1>
    <div class="row">
        <div class="col-12 text-center">
            <input id="room-name-input" type="text" size="70" placeholder="Enter name of a room">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            
            <!-- Button trigger modal -->
            <button type="button" id="create-chat-room" class="btn btn-dark mt-1 mx-3" data-toggle="modal" data-target="#ModalCenter">
                Create Room
            </button>
            <button type="button" id="join-chat-room" class="btn btn-dark mt-1 mx-3" onclick="joinRoom()">
                Join Room
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitle">Room Name:  </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-check text-center">
                            <input class="mt-2" type="radio" name="flexRadioDefault" id="is_public" checked>
                              Public chat room
                          </div>
                          <div class="form-check text-center">
                            <input class="mt-2" type="radio" name="flexRadioDefault" id="is_private">
                              Private Chat room
                          </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="createRoom()">Create Room</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
        

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <h3 class='text-center'> Rooms you have created.</h3>
            {% for room in rooms_created %}
            <div class='text-center'>
                <div class="dropdown my-2">
                    <button class="btn dropdown-toggle" type="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{room}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'chat_room' room_name=room %}">Join Room</a>
                      <a class="dropdown-item" href="{% url 'edit_room' room_name=room %}">Edit Room</a>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    
        <div class="col-md-6 col-sm-12">
            <h3 class='text-center'>Rooms you have joined.</h3>
            {% for room in rooms_joined %}
            <div class='text-center'>
                <div class="dropdown my-2">
                    <button class="btn dropdown-toggle" type="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{room}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'chat_room' room_name=room %}">Join Room</a>
                      <a class="dropdown-item" href="" onclick="leaveRoom('{{room}}')">Leave Room</a>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    document.querySelector('#create-chat-room').onclick = function(e) {
        const room_name = document.querySelector('#room-name-input').value;
        $("#ModalTitle").append(room_name)
          
    };
</script>
{% endblock body %}