<!-- Show user modal -->
<div class="modal fade" id="showAllUsers" tabindex="-1" role="dialog" aria-labelledby="showAllUsersTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h5 class="modal-title" id="ModalLongTitle">All users:</h5>
        </div>

        <div class="modal-body">
            {% if not approved_user %}
            <span>
              Empty chat-room.
            </span>
            {% elif approved_user %}
                {% for user in approved_user %}
                    <div class="row my-1" id="{{user}}">

                      <div class="col text-center">
                        <span>
                          {{user}}
                      </span> 
                      </div>

                      <div class="col text-center">
                        <button type="button" class="btn btn-outline-danger" onclick="removeUserFromChatRoom('{{user}}')">
                          Remove
                        </button>
                      </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>